---
layout: section
title: یادداشت‌های مدرس
---

<ul class="list">
  {% assign sorted = site.notes | sort: "date" | reverse %}
  {% for item in sorted %}
  <li class="item">
    <div>
      <a class="title-link" href="{{ item.url }}">{{ item.title }}</a>
      <div class="meta">
        {{ item.date | date: "%Y/%m/%d" }} · {{ item.author | default: "مدرس" }}
      </div>
      {% if item.excerpt %}
        <div class="meta">{{ item.excerpt }}</div>
      {% endif %}
    </div>
    <a class="btn" href="{{ item.url }}">مشاهده</a>
  </li>
  {% endfor %}
</ul>

